.ck { height: 800px; }

.img-container {
    max-width: 200px; /* 최대 너비 설정 */
    max-height: 200px; /* 최대 높이 설정 */
    width: auto; /* 너비 자동으로 조절 (비율 유지) */
    height: auto; /* 높이 자동으로 조절 (비율 유지) */
    max-width: 100%;
  }

.profile-image-container {
  max-width: 400px; /* 최대 너비 설정 */
  max-height: 400px; /* 최대 높이 설정 */
  width: auto; /* 너비 자동으로 조절 (비율 유지) */
  height: auto; /* 높이 자동으로 조절 (비율 유지) */
  overflow: hidden;
}

.image-container {
  display: flex;
  overflow-x: auto; /* 가로 스크롤을 가능하게 함 */
}

.img-wrapper {
  max-width: 200px; /* 최대 너비 설정 */
  max-height: 200px; /* 최대 높이 설정 */
  width: auto; /* 너비 자동으로 조절 (비율 유지) */
  height: auto; /* 높이 자동으로 조절 (비율 유지) */
  padding: 8px; /* 이미지 간 간격 설정 */
  
}

.img-wrapper img {
  max-height: 100%;
   /* 이미지가 부모 컨테이너를 벗어나지 않도록 함 */
}

.profile-image-container{
  max-width: 200px; /* 최대 너비 설정 */
  max-height: 200px; /* 최대 높이 설정 */
  width: auto; /* 너비 자동으로 조절 (비율 유지) */
  height: auto; /* 높이 자동으로 조절 (비율 유지) */
  padding: 8px; /* 이미지 간 간격 설정 */
}