.userList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.userList li {
    position: relative;
    padding: 20px;
    width: 250px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
.userList li:hover {
    background-color: #f0f0f0;
  }

.userInfo {
  font-size: 20px;
}
ul.userList {
  position: fixed;
  width: 250px;
  
  margin-left: 50px; /* 필요한 여백을 설정 */
}